{% extends "quiz/base.html" %}
{% block content %}
    <div class="container mt-sm-5 my-1">
      <form action="/" method="post">
        <label for="{{fname}}">First name: </label>
        <input id="{{fname}}" type="text" name="{{fname}}"><br>
        <label for="{{lname}}">Last name: </label>
        <input id="{{lname}}" type="text" name="{{lname}}"><br>
        {% csrf_token %}
        <input type="submit" value="OK">
        <p class="mx-sm-0 mx-1">Chosen name: {{ current_name }}</p>
      </form>
    </div>
<!--<div class="wrapper bg-white rounded">-->
<!--    <div class="content"> <a href="#"><span class="fa fa-angle-left pr-2"></span>Back to Question Bank</a>-->
<!--        <p class="text-muted">Multiple Choice Question</p>-->
<!--        {% for question in questions %}-->
<!--            <p class="text-justify h5 pb-2 font-weight-bold">{{question.question}}</p>-->
<!--            <div class="options py-3">-->
<!--                {% for answer in question.answers %}-->
<!--                <label class="rounded p-2 option"> {{answer.text}} <input type="radio" name="radio"> <span class="crossmark"></span> </label>-->
<!--                {% endfor %}-->
<!--            <p class="mt-2 mb-4 pl-2 text-justify"> Well done! He was scared of flying so picked up the parachute from an support store before the trip. He won gold </p> <b>Incorrect Feedback</b>-->
<!--            <p class="my-2 pl-2"> That was incorrect. Try again </p>-->
<!--        {% endfor %}-->
<!--    </div> <input type="submit" value="Add Question" class="mx-sm-0 mx-1">-->
<!--    </div></div>-->
{% endblock %}
