{% extends "quiz/base.html" %}
{% block content %}
  <div class="innersite">
    <div class="header">
      <h1>NOMAD sandbox</h1>
      <p>This is a development and testing sandbox environment for Nomad bot.</p>
    </div>

    <div class="main">
      <div class="inputform">
        <h3>Sample text-input form</h3>
        <form action="/" method="post" name="nameform" class="customformclass1">
          <label for="fname">First name: </label>
          <input id="fname" type="text" name="fname"><br>
          <label for="lname">Last name: </label>
          <input id="lname" type="text" name="lname"><br>
          {% csrf_token %}
          <input id="submit" type="submit" value="Submit input form">
          <p class="mx-sm-0 mx-1">Chosen name: {{ current_name }}</p>
        </form>
      </div>

      <div class="radioform">
        <h3>Sample radio-input form</h3>
        <p class="mx-sm-0 mx-1">Select your favourite food:</p>
        <form action="/" method="post" name="foodform" class="customformclass2">
          <label for="pizza">Pizza</label>
          <input id="pizza" type="radio" value="pizza" name="food">
          <label for="burgers">Burgers</label>
          <input id="burgers" type="radio" value="burgers" name="food">
          <label for="pasta">Pasta</label>
          <input id="pasta" type="radio" value="pasta" name="food">
          <label for="bigos">Pyszny bigos</label>
          <input id="bigos" type="radio" value="pyszny bigos" name="food"><br>
          {% csrf_token %}
          <input id="submit" type="submit" value="Submit radio form">
          <p class="mx-sm-0 mx-1">Chosen food: {{ current_food }}</p>
        </form>
      </div>

      <div class="otherform">
        <h3>Sample form with other inputs</h3>
        <form action="/" method="post" name="otherform" class="customformclass3">
          <label for="color">Sample color: </label>
          <input id="color" type="color" value="#f00" name="color"><br>
          <label for="date">Sample date: </label>
          <input id="date" type="date" value="01-01-1997" name="date"><br>
          <label for="number">Sample number (0-100): </label>
          <input id="number" type="number" value="0" name="number" min="0" max="100"><br>
          {% csrf_token %}
          <input id="submit" type="submit" value="Submit other fields form">
          <p class="mx-sm-0 mx-1">Chosen options: {{ current_options }}</p>
        </form>
      </div>

    </div>
    <div class="footer">
      <p>Copyright ©2021, project for SPZC class, Michał Szpunar, Łukasz Kabat</p>
    </div>
  </div>
{% endblock %}
